// Buttons
$button-font-size       : 15px !default;
$button-text-color      : $black !default;
$button-text-weight     : 300 !default;
$button-padding         : 8px 12px !default;
$button-background      : $grey-5 !default;
$button-margin          : 5px !default;
$button-border-radius   : $border-radius;