// TABLES
$table-cell-padding         : 5px 10px !default;
$table-background           : transparent !default;
$table-cell-borderColor     : $grey-25 !default;
$table-alternating-rowColor : darken($body-background,4%) !default;
$table-row-line-height      : 1.3 !default;
$table-row-hoverColor       : #fefbd6 !default;
$table-border-radius        : $border-radius !default;