{{!< default}}

{{#post}}
	{{> post-meta}}
	<article class="list ng-gutters">
		{{> title}}
		<section class="content xlarge-70 large-70 medium-70 small-100 tiny-100 push-right">
			{{> content}}
		</section>
	</article>
{{/post}}
