{{!< default}}

{{#post}}
	{{> post-meta}}
	<article class="ng-column-group list ng-gutters">
		{{> title}}
		<header class="xlarge-30 large-30 medium-30 small-100 tiny-100" >
			{{> sidebar}}
		</header>
		<section class="content xlarge-70 large-70 medium-70 small-100 tiny-100">
			{{> content}}
		</section>
	</article>
{{/post}}
